<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- archivos css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/footer.css">

    <title>Productos</title>
</head>
<body>
    <main>
        <!-- sección menu-->
        <div class="menu">
            <a href="#" class="logo">VENECAR</a>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a class="active" href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuestos</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </div>

        <!-- contenido principal - productos -->
        <div class="contenedor">
            <div class="title">
                <h1>Productos</h1>
            </div>
            <div class="container-products">

                <div class="card-container">
                    <img src="../images/corolla_2024.jpg" alt="Edicion Corolla" width="300" height="214">
                    <h2>Toyota Corolla 2024</h2>
                    <p>Motor 1.5 125CV, Cadena </p>
                    <p class="price">20.000€</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/ford_fiesta_nuevo.webp" alt="ford" width="300" height="223">
                    <h2>Ford Fiesta Edicion</h2>
                    <p>Motor 1.4, 100CV, Correa.</p>
                    <p class="price">9.500€</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/furgon_grande_toyota.jpg" alt="furgon" width="300" height="170">
                    <h2>Furgon Toyota</h2>
                    <p>Motor 1.5, 150CV, Cadena</p>
                    <p class="price">19.850€</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/Nissan_Sentra_2024.webp" alt="Nissan" width="300" height="161">
                    <h2>Nissan Sentra 2024</h2>
                    <p>Motor 1.2 120CV, Cadena.</p>
                    <p class="price">19.890€</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/renault_electrico.jpg" alt="Renault electrico"  width="300" height="165">
                    <h2>Renault Electrico</h2>
                    <p>Hibrido 100% Modernidad 2024</p>
                    <p class="price">25.000 €</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/Furgon_Renault.webp" alt="Furgon Renault"  width="300" height="189">
                    <h2>Furgon Renault</h2>
                    <p>Motor 1.2 125CV, Cadena</p>
                    <p class="price">17.800€</p>
                    <button class="a-button">Comprar</button>
                </div>


                <div class="card-container">
                    <img src="../images/renault_nuevo.jpg" alt="Renault Basic"  width="300" height="152">
                    <h2>Renault nuevo</h2>
                    <p>Motor 1.4, Cadena, 4 Cilindro .</p>
                    <p class="price">11.000€</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/seat_leon_2024.jpg" alt="Seat Leon"  width="300" height="184">
                    <h2>Seat Leon ultima version</h2>
                    <p>Motor 1.4, 95CV, correa</p>
                    <p class="price">17.900€</p>
                    <button class="a-button">Comprar</button>
                </div>

                <div class="card-container">
                    <img src="../images/toyota_yaris_azul.jpg" alt="Yaris 2022"  width="300" height="171">
                    <h2>Vehiculos Yaris 2022</h2>
                    <p>Motor 1.5, 125CV, Cadena.</p>
                    <p class="price">19.890€</p>
                    <button class="a-button">Comprar</button>
                </div>
                <div class="card-container">
                    <img src="../images/hiundayi20.jpg" alt="Hiunday I20"  width="300" height="159">
                    <h2>Hiunday I20</h2>
                    <p>Motor 1.2, 95CV, Cadena</p>
                    <p class="price">9.500€</p>
                    <button class="a-button">Comprar</button>
                </div>
            </div>
        </div>

        <footer class="site-footer">
            <div class="container">
                <div class="footer-content">
                    <div class="social-media">
                        <a href="https://www.facebook.com" target="_blank"><img alt="facebook" src="../images/imagen_facebook.png" width="24" height="24"></a>
                        <a href="https://www.instagram.com" target="_blank"><img alt="instagram" src="../images/imagen_instagram.jpeg" width="24" height="24"></a>
                        <a href="https://www.twitter.com" target="_blank"><img alt="twitter" src="../images/imagen_X.png" width="24" height="24"></a>
                    </div>
                    <div class="copyright">
                        &copy; 2024 VENECAR
                    </div>
                </div>
            </div>
            <div class="address">
                Calle Sorolla  Nº 6, Santa Cruz de Tenerife, 38002
            </div>
            <div class="legal">
                Condiciones de Uso:
                    El acceso y uso de este sitio web están sujetos a las siguientes condiciones. Al acceder y navegar por este sitio web, usted acepta estas condiciones sin reservas. Si no está de acuerdo con estas condiciones, por favor absténgase de utilizar este sitio.
            </div>
        </footer>
    </main>
</body>
</html>